* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(135deg, #4AB1FF, #2D5CFE);;
    min-height: 100vh;
}
.card {
    max-width: 500px;
    margin: 137px auto;
}
.todo-header, .todo-body {
    padding-left: 5%;
    padding-right: 5%;
}
.todo-card {
    margin-left: 5%;
    margin-right: 5%;
    padding: 28px 0 30px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
textarea {
    max-width: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 6px 12px;
    border: 1px solid #999;
}
::placeholder {
    opacity: 0.5;
}
.btns {
    margin-top: 6px;
    text-align: right;
}
button {
    border: none;
    opacity: 0.6;
    outline: none;
    max-width: 100%;
    min-width: 76px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 4px;
    letter-spacing: 0.3px;
    pointer-events: none;
    transition: transform 0.25s ease;
    background: linear-gradient(135deg, #1798fb 0%, #2D5CFE 100%);
}
.todo-header {
    padding-bottom: 5%;
    border-bottom: 1px solid #ccc;
}